<div class="exercise-list">
<ul class="workouts__grid">

    <li class="workout-card">
        <div class="workout-card__header">
            <span class="workout-card__badge">Workout</span>
            <span class="workout-card__rating" aria-label="Рейтинг 4.0 з 5">
                <span class="value">4.0</span>
                <svg width="18" height="18">
                    <use href="../../img/icons.svg#star" />
                </svg>
            </span>

            <a class="workout-card__start" href="/workouts/air-bike">
                Start
                <svg width="16" height="16">
                    <use href="../../img/icons.svg#arrow" />
                </svg>
            </a>
        </div>

        <h3 class="workout-card__title">
            <svg class="workout-card__icon" width="24" height="24">
                <use href="../../img/icons.svg#runner" />
            </svg>
            <span>Barbell reverse preacher curl asdf asdf asdf</span>
        </h3>

        <ul class="workout-card__meta">
            <li>Burned calories: <span>312 / 3 min</span></li>
            <li>Body part: <span>Waist</span></li>
            <li>Target: <span>Abs</span></li>
        </ul>
    </li>
    <li class="workout-card">
        <div class="workout-card__header">
            <span class="workout-card__badge">Workout</span>
            <span class="workout-card__rating" aria-label="Рейтинг 4.0 з 5">
                <span class="value">4.0</span>
                <svg width="18" height="18">
                    <use href="../../img/icons.svg#star" />
                </svg>
            </span>

            <a class="workout-card__start" href="/workouts/air-bike">
                Start
                <svg width="16" height="16">
                    <use href="../../img/icons.svg#arrow" />
                </svg>
            </a>
        </div>

        <h3 class="workout-card__title">
            <svg class="workout-card__icon" width="24" height="24">
                <use href="../../img/icons.svg#runner" />
            </svg>
            <span>Barbell reverse preacher curl asdf asdf asdf</span>
        </h3>

        <ul class="workout-card__meta">
            <li>Burned calories: <span>312 / 3 min</span></li>
            <li>Body part: <span>Waist</span></li>
            <li>Target: <span>Abs</span></li>
        </ul>
    </li>
    <li class="workout-card">
        <div class="workout-card__header">
            <span class="workout-card__badge">Workout</span>
            <span class="workout-card__rating" aria-label="Рейтинг 4.0 з 5">
                <span class="value">4.0</span>
                <svg width="18" height="18">
                    <use href="../../img/icons.svg#star" />
                </svg>
            </span>

            <a class="workout-card__start" href="/workouts/air-bike">
                Start
                <svg width="16" height="16">
                    <use href="../../img/icons.svg#arrow" />
                </svg>
            </a>
        </div>

        <h3 class="workout-card__title">
            <svg class="workout-card__icon" width="24" height="24">
                <use href="../../img/icons.svg#runner" />
            </svg>
            <span>Barbell reverse preacher curl asdf asdf asdf</span>
        </h3>

        <ul class="workout-card__meta">
            <li>Burned calories: <span>312 / 3 min</span></li>
            <li>Body part: <span>Waist</span></li>
            <li>Target: <span>Abs</span></li>
        </ul>
    </li>
    <li class="workout-card">
        <div class="workout-card__header">
            <span class="workout-card__badge">Workout</span>
            <span class="workout-card__rating" aria-label="Рейтинг 4.0 з 5">
                <span class="value">4.0</span>
                <svg width="18" height="18">
                    <use href="../../img/icons.svg#star" />
                </svg>
            </span>

            <a class="workout-card__start" href="/workouts/air-bike">
                Start
                <svg width="16" height="16">
                    <use href="../../img/icons.svg#arrow" />
                </svg>
            </a>
        </div>

        <h3 class="workout-card__title">
            <svg class="workout-card__icon" width="24" height="24">
                <use href="../../img/icons.svg#runner" />
            </svg>
            <span>Barbell reverse preacher curl asdf asdf asdf</span>
        </h3>

        <ul class="workout-card__meta">
            <li>Burned calories: <span>312 / 3 min</span></li>
            <li>Body part: <span>Waist</span></li>
            <li>Target: <span>Abs</span></li>
        </ul>
    </li>
</ul>

<nav class="pagination" aria-label="Сторінки тренувань">
    <ul class="pagination__list">
        <li><a class="pagination__link" href="?page=1" aria-current="page">1</a></li>
        <li><a class="pagination__link" href="?page=2">2</a></li>
        <li><a class="pagination__link" href="?page=3">3</a></li>
    </ul>
</nav>

</div>