<!-- 
  HEADER COMPONENT
  ================
  
  Requirements:
  - Mobile: Logo + burger menu (opens full-height menu with nav + social links)
  - Tablet/Desktop: Logo + navigation + social links
  
  Navigation:
  - Home (link to index.html) - redirects to home page
  - Favorites (link to favorites.html) - opens favorites page
  
  Social links (open in new tab):
  - Facebook: https://www.facebook.com/goITclub/
  - Instagram: https://www.instagram.com/goitclub/
  - YouTube: https://www.youtube.com/c/GoIT
  
  Notes:
  - Social icons should be SVG format
  - Use <ul> for social links list
  - Burger menu click expands to full viewport height
-->

<header class="header">
  <!-- TODO: Implement header markup -->
</header>
