<div class="favorites-sidebar">
  <div class="quote-card">
    <div class="quote-icon-box">
      <svg
        class="quote-icon"
        width="32"
        height="32"
        aria-hidden="true"
        focusable="false"
      >
        <use href="./img/quote-icons.svg#running"></use>
      </svg>
    </div>

    <div class="quote-content">
      <div class="quote-header">
        <h2 class="quote-title">Quote of the day</h2>

        <svg
          class="quote-mark-icon"
          width="20"
          height="20"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/quote-icons.svg#quote"></use>
        </svg>
      </div>

      <p class="quote-text" data-quote-text>Loading quote...</p>
      <p class="quote-author" data-quote-author></p>
    </div>
  </div>

  <div class="favorites-sidebar-bottom">
    <div class="favorites-daily-card">
      <div class="favorites-daily-icon">
        <svg width="20" height="20" aria-hidden="true" focusable="false">
          <use href="./img/quote-icons.svg#food"></use>
        </svg>
      </div>

      <div class="favorites-daily-content">
        <h3 class="favorites-daily-title">110 min</h3>
        <p class="favorites-daily-subtitle">Daily norm of sports</p>
      </div>
    </div>

    <div class="favorites-image-card">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/quote/quote-fav-desktop.jpg    1x,
            ./img/quote/quote-fav-desktop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/quote/quote-fav-tablet.jpg    1x,
            ./img/quote/quote-fav-tablet@2x.jpg 2x
          "
        />
        <img
          class="favorites-image"
          src="./img/quote/quote-fav-mobile.jpg"
          srcset="
            ./img/quote/quote-fav-mobile.jpg    1x,
            ./img/quote/quote-fav-mobile@2x.jpg 2x
          "
          alt=""
          width="335"
          height="119"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</div>
