.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .pagination__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 12px;
    }

    .pagination__link {
        font-weight: 400;
        font-size: 24px;

        /* line-height: 32px; */
        line-height: 1.33333;
        letter-spacing: 0.04em;
        color: var(--color-shade1);
    }

    .pagination__link[aria-current="page"] {
        border: 1px solid var(--color-primary);
        border-radius: 18px;
        padding-block: 0px;
        padding-inline: 12px;
        width: 32px;
        height: 32px;
        color: var(--color-primary);
    }
}

@media (min-width: 768px) {
    .pagination {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}